extends layout.jade
block title
	title Добавить объявление
block scripts
	script(src='resources/pages/add_announcement/add-announcement-script.js')
	script(src="resources/pages/update_announcement/image-photo-script.js")
block depending
	link(rel="stylesheet", href="resources/pages/add-update-confirm-announcement/add-update-confirm-announcement.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/error.css", type="text/css", media="all")
block content
	.b-content
		form(role="form", action="/add", method="post", enctype="multipart/form-data")
			.b-content-form
				.b-form-header
					p
						Ваше объявление
				.b-form-content
					include mixins/mixin_er.jade
					+err(errors)
					.b-form-content_title
						p
							Ваш инвентарь
					input.b-form-content_input__style.b-input_name-announcement#from.form-control(type="text", value="#{goods.title}", name="title", placeholder="Название объявления")
					textarea.b-form-content_input__style.b-form_textarea#announcementsDescription.form-control(type="text", name="description", placeholder="Подробное описание")
						#{goods.description}
					.b-form-content_title
						p
							Цена
				.b-set-fields
					.base
						.order
							.b-set-fields_input
								input.b-form-content_input__style#PriceForHour.form-control(type="text", value="#{goods.pricePerHour}", name="pricePerHour", placeholder="Час")
							.b-set-fields_input
								input.b-form-content_input__style#PriceForDay.form-control(type="text", value="#{goods.pricePerDay}", name="pricePerDay", placeholder="Сутки")
							.b-set-fields_input
								input.b-form-content_input__style#PriceForWeek.form-control(type="text", value="#{goods.pricePerWeek}", name="pricePerWeek", placeholder="Неделя")
					.b-form-content_title
						p
							Фотографии
				.b-set-fields
					.order
						.base
							.foto-block
								.download-mask
									.one-foto-box-ico
										img(id='ico', src="resources/images/photo-ico.png", width="42", height="42")
									.icon-delete-photo
										input.input-delete(type='radio', name='firstImageDelete')
									.one-foto-box-photo
										if goods.firstImage!="resources/images/photo-ico.png"
											img(src=goods.firstImageUrl)
									input.fileInputText(type='text', disabled='')
								input#first-file.custom-file-input(type='file', name='firstImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
							.foto-block
								.download-mask
									.one-foto-box-ico
										img(src=src="resources/images/photo-ico.png", width="42", height="42")
									.icon-delete-photo
										input.input-delete(type='radio', name='secondImageDelete')
									.one-foto-box-photo
										if goods.secondImage!="resources/images/photo-ico.png"
											img(src=goods.secondImageUrl)
									input.fileInputText(type='text', disabled='')
								input#second-file.custom-file-input(type='file', name='secondImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
							.foto-block
								.download-mask
									.one-foto-box-ico
										img(src=src="resources/images/photo-ico.png", width="42", height="42")
									.icon-delete-photo
										input.input-delete(type='radio', name='thirdImageDelete')
									.one-foto-box-photo
										if goods.thirdImage!="resources/images/photo-ico.png"
											img(src=goods.thirdImageUrl)
									input.fileInputText(type='text', disabled='')
								input#third-file.custom-file-input(type='file',  name='thirdImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
			.content-button-block
				input.button-update(type='submit', value='РАЗМЕСТИТЬ')
