mixin announcement(Goods)
	.row
		.col-lg-6
			p=Goods.title
	.row
		.col-lg-5
			if !Goods.description.isEmpty()
				.well
					.size-text-rap
						p=Goods.description
		.col-lg-7
			.row
				.col-lg-5
					Цена за час:
				.col-lg-1
					text=Goods.pricePerHour
				.col-lg-1
					Руб
			.row
				.col-lg-5
					Цена за день:
				.col-lg-1
					text=Goods.pricePerDay
				.col-lg-1
					Руб
			.row
				.col-lg-5
					Цена за неделю:
				.col-lg-1
					text=Goods.pricePerWeek
				.col-lg-1
					Руб
			.row
				.col-lg-5
					Залог:
				.col-lg-1
					text=Goods.pledge
				.col-lg-1
			.row
				.col-lg-9
				.col-lg-4
					a(href="/getIt?announcement_id=#{Goods.id}")
						button.btn.btn-color.btn-block.btn-lg(type="button") Взять напрокат