extends layout.jade
block title
	title Просмотр объявление
block scripts
	script(src='resources/style/detail-view-ads/image-script.js')
block depending
	link(rel="stylesheet", href="resources/error.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/detail-view-ads/detail-view-ads.css", type="text/css", media="all")
block content
	.my-content
		.content-inside
			.base
				.order
					.l-side
						.l-inside
							a(href="/profile?user_id=#{user.id}")
								.ava-white-block.round-border.green-line-shadow
									img.round.image-vertical-position(src=user.imageUrl, height="124", width="124")
								.author-name
									b
										p.size-text-norap.text-position=user.firstName
							.button-comment-block
								input.button-comment(type='button', value='ОСТАВИТЬ ОТЗЫВ', onclick="/")
							.button-comment-block
								input.button-comment(type='button', value='ПОДЕЛИТЬСЯ')
					.center-side
						.white-content
							.green-line.green-line-shadow
								.header-info-block
									.base
										.order
											.text-block-1
												b
													p.text-center
														Час:
														text=Goods.pricePerHour
														р
											.text-block-2
												b
													p.text-center
														Сутки:
														text=Goods.pricePerDay
														р
											.text-block-3
												b
													p.text-center
														Неделя:
														text=Goods.pricePerWeek
														р
							p.text-title.green-color.size-text-norap=Goods.title
							.discr-block
								text.size-text-rap=Goods.description
						.foto-block
							.base
								.order
									each image in Goods.imageUrl
										img.one-foto-box(src=image)
						.update-delete-block
							if isAuthor
								.update-block-inside
									a(href="/update?announcement_id=#{Goods.id}")
										input.button-update(type='button', value='Редактировать')
					if !isAuthor
						.r-side
							.r-inside
								form(role="form", action="/getIt?announcement_id=#{Goods.id}", method="post")
									.white-form
										.green-line.green-line-shadow
											.base
												.order
													.time-to-rent-text
														b
															p.white-color.position-on-green-line
																Время аренды
													.time-to-rent-ico
														img(src="resources/style/detail-view-ads/images/calendar-ico.png")
										if !isAuthor
											include mixins/mixin_er.jade
											+err(errors)
										.input-block
											p.green-color.position-on-green-line
												Начало
											.input-box
												input.input-size#from.form-control(type="datetime-local", value="#{date.from}", name="from")
										.input-block
											p.green-color.position-on-green-line
												Завершение
											.input-box
												input.input-size#to.form-control(type="datetime-local", value="#{date.to}", name="to")
									input.button-rent(type='submit', value='Забронировать')