doctype html
head
	title Обявление
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	link(rel="stylesheet", href="resources/style/detail-view-ads/detail-view-ads.css", type="text/css", media="all")
body
	.container
		.header.shadow
			.center-of-header
				.base
					.order
						.logo
							a(href="/")
								img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
						if (!isAuth)
							.profile
								a.green-color(href="/login")
									h4.position ВХОД
						else
							.personal
								a.green-color(href="/personal_area")
									h4.position ЛИЧНЫЙ КАБИНЕТ
							.exit
								a.green-color(href="/logout")
									h4.position ВЫЙТИ
		.content
			.base
				.order
					.l-side
						.l-inside
							.ava-white-block.round-border.green-line-shadow
								img.round.image-vertical-position(src="https://placekitten.com/g/124/124", height="124", width="124")
							.author-name
								p.text-position=user.firstName
							.button-comment-block
								input.button-comment(type='button', value='ОСТАВИТЬ ОТЗЫВ', onclick="/")
							.button-comment-block
								input.button-comment(type='button', value='ПОДЕЛИТЬСЯ')
					.center-side
						.white-content
							.green-line.green-line-shadow
								.header-info-block
									.base
										.order
											.text-block-1
												p.text-center
													Час:
													text=Goods.pricePerHour
													р
											.text-block-2
												p.text-center
													Сутки:
													text=Goods.pricePerDay
													р
											.text-block-3
												p.text-center
													Неделя:
													text=Goods.pricePerWeek
													р
							p.text-title.green-color=Goods.title
							.discr-block
								text.size-text-rap=Goods.description
						.foto-block
							.base
								.order
									.one-foto-box
										img(src="https://placekitten.com/g/500/300", height="98", width="128")
									.one-foto-box
										img(src="https://placekitten.com/g/500/300", height="98", width="128")
									.one-foto-box
										img.one-foto-position(src="https://placekitten.com/g/500/300", height="98", width="128")
										img.one-foto-position(src="resources/style/detail-view-ads/images/bk-gr.png", height="98", width="128")
										.text-on-foto
											ПРОСМОТР
						.update-delete-block
							if isAuthor
								a(href="/")
									input.button-delete(type='button', value='Скрыть')
								a(href="/update?announcement_id=#{Goods.id}")
									input.button-update(type='button', value='Редактировать')
								a(href="/delete?announcement_id=#{Goods.id}")
									input.button-delete(type='button', value='Удалить')
					.r-side
						.r-inside
							if !isAuthor
								.for-error
										include mixin_er.jade
										+err(errors)
								form(role="form", action="/getIt?announcement_id=#{Goods.id}", method="post")
									.white-form
										.green-line.green-line-shadow
											.base
												.order
													.time-to-rent-text
														p.white-color.position-on-green-line
															Время аренды
													.time-to-rent-ico
														img(src="resources/style/detail-view-ads/images/calendar-ico.png")
										.input-block
											p.green-color.position-on-green-line
												Начало
											.input-box
												input.input-size#from.form-control(type="datetime-local", value="#{date.from}", name="from")
										.input-block
											p.green-color.position-on-green-line
												Завершение
											.input-box
												input.input-size#to.form-control(type="datetime-local", value="#{date.to}", name="to")
									input.button-rent(type='submit', value='Забронировать')