extends layout.jade
block title
	title Обновить объявление
block depending
	link(rel="stylesheet", href="resources/style/update_announcement/update_announcement.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/error.css", type="text/css", media="all")
block content
	.my-content
		form(role="form", action="/add", method="post")
			.content-inside-block
				.content-block-header
					p
						Ваше объявление
				.content-block-inside-info
					include mixins/mixin_er.jade
					+err(errors)
					.your-inventory-title-block
						p
							Ваш инвентарь
					input.input-name-announcement#from.form-control(type="text", value="#{goods.title}", name="title", placeholder="Название объявления")
					textarea.textarea-discription-announcement#announcementsDescription.form-control(type="text", name="description", placeholder="Подробное описание")
						#{goods.description}
					.your-inventory-price-block
						p
							Цена
				.help-block
					.order
						.base
							input.input-price#PriceForHour.form-control(type="text", value="#{goods.pricePerHour}", name="pricePerHour", placeholder="Час")
							input.input-price#PriceForDay.form-control(type="text", value="#{goods.pricePerDay}", name="pricePerDay", placeholder="Сутки")
							input.input-price#PriceForWeek.form-control(type="text", value="#{goods.pricePerWeek}", name="pricePerWeek", placeholder="Неделя")
				.your-inventory-foto-block
					p
						Фотографии
				.help-foto-block
					.order
						.base
							.foto-block
								.foto-block-inside
									img(src=goods.firstImageUrl, width="147", height="147")
							.foto-block
								.foto-block-inside
									img(src=goods.secondImageUrl, width="147", height="147")
							.foto-block
								.foto-block-inside
									img(src=goods.thirdImageUrl, width="147", height="147")
			.content-button-block
				input.button-update(type='submit', value='СОХРАНИТЬ')
			.content-button-block
				a(href="/")
					input.button-update(type='button', value='ОТМЕНА')