doctype html
head
	title Обявление
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	link(rel="stylesheet", href="resources/normalize.css", type="text/css", media="all")
	link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="resources/style/update-profile/update-profile.css", type="text/css", media="all")
body
	.container
<<<<<<< HEAD
		.header.shadow
			.center-of-header
				.base
					.order
						.logo
							a(href="/")
								img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
						if (!isAuth)
							.profile
								a.green-color(href="/login")
									h4.position ВХОД
						else
							.personal
								a.green-color(href="/personal_area")
									h4.position ЛИЧНЫЙ КАБИНЕТ
							.exit
								a.green-color(href="/logout")
									h4.position ВЫЙТИ
		.content
			.update-block
				.update-block-header
					.update-block-header-text
						b
							Редактирование профиля
				form(role="form", action="/update_profile", method="post")
					input.update-block-content-first-text#from.form-control(type="text", value="#{user.firstName}", name="firstName",placeholder="Имя")
					input.update-block-content-another-text#from.form-control(type="text", value="#{user.phone}", name="phone",placeholder="Телефон")
					input.update-block-content-another-text#from.form-control(type="text", value="#{user.imageUrl}", name="imageUrl",placeholder="URL изображения")
					.update-content-change-pass
						b
							Смена пароля
					.base
						.order
							input.update-content-pass-block#from.form-control(type="password", value="#{user.pass}", name="pass",placeholder="Текущий пароль")
							input.update-content-new-pass-block#from.form-control(type="password", value="#{user.newPass}", name="newPass",placeholder="Новый пароль")
					input.button-update(type='submit', value='CОХРАНИТЬ')
=======
		include header.jade
		.pic-first
			.center-block
				h1.white-color.set-font-rounds.set-font-size-60 ДАЙ  ПОГОНЯТЬ
				p.white-color.set-font-profile-roboto-reg.set-font-size-20 Сервис по поиску и аренде спортивного оборудования
				.space-block
				.order
					.sector1.set-font-size-14.set-font-profile-roboto
						a(href="#seeAll")
							button.btn.btn-color-white.btn-block.btn-lg.buttom-round.set-font-profile-roboto-bold(type="button") СМОТРЕТЬ ОБЪЯВЛЕНИЯ
					.sector2.set-font-size-14.set-font-profile-roboto
						a(href="/add")
							button.btn.btn-color.btn-block.btn-lg.buttom-round.set-font-profile-roboto-bold(type="button") ДАТЬ ОБЪЯВЛЕНИЕ
		.white-block
		.all-info-block.set-font-profile-roboto
			include mixin_list_all_announcement.jade
			+list(goods)
>>>>>>> 82ddabe4586db35d5dedca08bcd57d414db29e52
