mixin list(Goods, userId, userAva, buttonText, isHistory)
    - announcement_id = Goods.id;
    .b-list-announcements-elem(onclick="location.href='/see_announcement?announcement_id=#{announcement_id}';")
        .b-adaptive-title
            .b-title--default.b-title--blue
                .b-title__text.b-title__text--top
                    text(style="padding-right: 8px;")
                        Час:
                    b
                        text(style="padding-right: 8px;")=Goods.pricePerHour
                        text.set-rub-price
                            Р
                include ../partial/status.jade
                .b-adaptive-title__edit-icon(onclick="location.href='/update?announcement_id=#{Goods.id}")
        .b-list-announcements-elem__content
            .b-list-announcements-elem-product-info
                .b-list-announcements-elem-product-info__title
                    .b-list-announcements-elem-product-info__product-name
                        b
                            p=Goods.title
                    include ../partial/full_status.jade
                .b-list-announcements-elem-product-info__discription.js-cut-text
                    p=Goods.description
                .b-list-announcements-elem-product-info__set-price
                    .b-list-announcements-elem-product-info__price
                        text(style="padding-right: 8px;")
                            Час:
                        b
                            text(style="padding-right: 8px;")=Goods.pricePerHour
                            text(style="padding-right: 8px;").set-rub-price
                                Р
                    .b-list-announcements-elem-product-info__price
                        text(style="padding-right: 8px;")
                            Сутки:
                        b
                            text(style="padding-right: 8px;")=Goods.pricePerDay
                            text.set-rub-price
                                Р
                    .b-list-announcements-elem-product-info__price
                        text(style="padding-right: 8px;")
                            Неделя:
                        b
                            text(style="padding-right: 8px;")=Goods.pricePerWeek
                            text.set-rub-price
                                Р
            .b-list-announcements-elem__product-photo
                each image in Goods.imageUrl
                    img(src=image)
            .b-list-announcements-elem__user-ava
                a(href="/profile?user_id=#{userId}")
                    img(src="#{userAva}")
            .b-list-announcements-elem__update-button
                if !isHistory
                    a(href="/update?announcement_id=#{Goods.id}")
                        input.b-button--default.b-button--update-announcement(type='button', value='#{buttonText}')
                else
                    input.b-button--default.b-button--update-announcement(type='button', value='#{buttonText}')
            if isHistory
                .b-rental-period
                    .b-rental-period__text
                        b
                            p
                                Срок сдачи в аренду:
                    .b-rental-period__text
                        b
                            p
                                с 
                    .b-rental-period__data
                        p
                            дата начала
                    .b-rental-period__data
                        p
                            время
                    .b-rental-period__text
                        b
                            p
                                по 
                    .b-rental-period__data
                        p
                            дата конца
                    .b-rental-period__data
                        p
                            время
                    
