.b-form-crud-announcement
    .b-title--default.b-title--blue
        b
            p
                Ваше объявление
    .b-form-crud-announcement__content
        include mixin_er.jade
        +err(errors)
        .b-title--form
            b
                p
                    Ваш инвентарь
        input.b-input--default#from.form-control(type="text", value="#{goods.title}", name="title", placeholder="Название объявления")
        textarea.b-input--default.b-form__textarea#announcementsDescription.form-control(type="text", name="description", placeholder="Подробное описание")
            #{goods.description}
        .b-title--form
            b
                p
                    Цена
    .b-set-fields
        .base
            .order
                .b-set-fields__input
                    input.b-input--default#PriceForHour.form-control(type="text", value="#{goods.pricePerHour}", name="pricePerHour", placeholder="Час")
                .b-set-fields__input
                    input.b-input--default#PriceForDay.form-control(type="text", value="#{goods.pricePerDay}", name="pricePerDay", placeholder="Сутки")
                .b-set-fields__input
                    input.b-input--default#PriceForWeek.form-control(type="text", value="#{goods.pricePerWeek}", name="pricePerWeek", placeholder="Неделя")
    .b-form-crud-announcement__content
        .b-title--form
            b
                p
                    Фотографии
    .b-set-fields
        .order
            .base
                .b-photo
                    .b-photo__download-mask
                        .b-photo__image-default
                            img(id='ico', src="resources/images/photo-ico.png", width="42", height="42")
                        .b-delete-photo
                            input.b-delete-photo__input-delete(type='radio', name='firstImageDelete')
                        .b-photo__product-image
                            if goods.firstImage!="resources/images/photo-ico.png"
                                img(src=goods.firstImageUrl)
                        input.b-download-mask__input-file-name(type='text', disabled='')
                    input#first-file.b-download-mask__real-file-input(type='file', name='firstImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
                .b-photo
                    .b-photo__download-mask
                        .b-photo__image-default
                            img(src=src="resources/images/photo-ico.png", width="42", height="42")
                        .b-delete-photo
                            input.b-delete-photo__input-delete(type='radio', name='secondImageDelete')
                        .b-photo__product-image
                            if goods.secondImage!="resources/images/photo-ico.png"
                                img(src=goods.secondImageUrl)
                        input.b-download-mask__input-file-name(type='text', disabled='')
                    input#second-file.b-download-mask__real-file-input(type='file', name='secondImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
                .b-photo
                    .b-photo__download-mask
                        .b-photo__image-default
                            img(src=src="resources/images/photo-ico.png", width="42", height="42")
                        .b-delete-photo
                            input.b-delete-photo__input-delete(type='radio', name='thirdImageDelete')
                        .b-photo__product-image
                            if goods.thirdImage!="resources/images/photo-ico.png"
                                img(src=goods.thirdImageUrl)
                        input.b-download-mask__input-file-name(type='text', disabled='')
                    input#third-file.b-download-mask__real-file-input(type='file',  name='thirdImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
