mixin list(goods)
    .b-content
        a(name="seeAll")
            each Goods in goods
                - announcement_id = Goods.id;
                a(href="/see_announcement?announcement_id=#{announcement_id}")
                    .b-list-announcements-elem
                        .b-adaptive-title
                            .b-title--default.b-title--blue
                                .b-title__text.b-title__text--top
                                    text(style="padding-right: 8px;")
                                        Час:
                                    b
                                        text(style="padding-right: 8px;")=Goods.pricePerHour
                                        text.set-rub-price
                                            Р
                                include mixin_status.jade
                                a(href="/update?announcement_id=#{Goods.id}")
                                    .b-adaptive-title__edit-icon
                        .b-list-announcements-elem__content
                            .b-list-announcements-elem-product-info
                                .b-list-announcements-elem-product-info__title
                                    .b-list-announcements-elem-product-info__product-name
                                        b
                                            p=Goods.title
                                    include mixin_full_status.jade
                                .b-list-announcements-elem-product-info__discription.js-cut-text
                                    p=Goods.description
                                .b-list-announcements-elem-product-info__set-price
                                    .b-list-announcements-elem-product-info__price
                                        text(style="padding-right: 8px;")
                                            Час:
                                        b
                                            text(style="padding-right: 8px;")=Goods.pricePerHour
                                            text(style="padding-right: 8px;").set-rub-price
                                                Р
                                    .b-list-announcements-elem-product-info__price
                                        text(style="padding-right: 8px;")
                                            Сутки:
                                        b
                                            text(style="padding-right: 8px;")=Goods.pricePerDay
                                            text.set-rub-price
                                                Р
                                    .b-list-announcements-elem-product-info__price
                                        text(style="padding-right: 8px;")
                                            Неделя:
                                        b
                                            text(style="padding-right: 8px;")=Goods.pricePerWeek
                                            text.set-rub-price
                                                Р
                            .b-list-announcements-elem__product-photo
                                each image in Goods.imageUrl
                                    img(src=image)
                            .b-list-announcements-elem__author-ava
                                a(href="/profile?user_id=#{Goods.authorId}")
                                    img(src=Goods.authorImage)
                            .b-list-announcements-elem__update-button
                                a(href="/update?announcement_id=#{Goods.id}")
                                    input.b-button--default.b-button--update-announcement(type='button', value='РЕДАКТИРОВАТЬ')