mixin form(buttonText)
    .b-crud-announcement
        .b-crud-announcement-form
            .b-title--default.b-title--blue
                b
                    p
                        #{jadeMessage.getMessage('template.addAnn.yourAnnouncement')}
            .b-crud-announcement-form__content
                include mixin_er.jade
                +err(errors)
                .b-title--form
                    b
                        p
                            #{jadeMessage.getMessage('template.addAnn.yourEquip')}
                input.b-input--default#from.form-control(type="text", value="#{goods.title}", name="title", placeholder="#{jadeMessage.getMessage('template.addAnn.title')}")
                textarea.b-input--default#announcementsDescription.form-control(type="text", name="description", placeholder="#{jadeMessage.getMessage('template.addAnn.description')}")
                    #{goods.description}
                .b-title--form
                    b
                        text(style="padding-right: 5px;")
                            #{jadeMessage.getMessage('template.addAnn.price')},
                        text.set-rub-price
                            ла
            .b-set-fields
                .b-set-fields__input
                    input.b-input--default#PriceForHour.form-control(type="text", value="#{goods.pricePerHour}", name="pricePerHour", placeholder="#{jadeMessage.getMessage('template.addAnn.hour')}")
                .b-set-fields__input
                    input.b-input--default#PriceForDay.form-control(type="text", value="#{goods.pricePerDay}", name="pricePerDay", placeholder="#{jadeMessage.getMessage('template.addAnn.day')}")
                .b-set-fields__input
                    input.b-input--default#PriceForWeek.form-control(type="text", value="#{goods.pricePerWeek}", name="pricePerWeek", placeholder="#{jadeMessage.getMessage('template.addAnn.week')}")
            .b-crud-announcement-form__content
                .b-title--form
                    b
                        p
                            #{jadeMessage.getMessage('template.addAnn.photo')}
            .b-set-fields.js-set-fields
                .b-photo.js-photo
                    .b-photo__download-mask.js-download-mask
                        .b-photo__image-default.js-default-image
                            img(id='ico', src="resources/images/photo-ico.png", width="42", height="42")
                        .b-delete-photo.js-backet
                            input.b-delete-photo__input-delete.js-input-delete(type='radio', name='firstImageDelete')
                        .b-photo__product-image.js-product-image
                            if goods.firstImage!="resources/images/photo-ico.png"
                                img(src=goods.firstImageUrl)
                        input.b-download-mask__input-file-name.js-input-file-name(type='text', disabled='')
                    input#first-file.b-download-mask__real-file-input.js-real-file-input(type='file', name='firstImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
                .b-photo.js-photo
                    .b-photo__download-mask.js-download-mask
                        .b-photo__image-default.js-default-image
                            img(src=src="resources/images/photo-ico.png", width="42", height="42")
                        .b-delete-photo.js-backet
                            input.b-delete-photo__input-delete.js-input-delete(type='radio', name='secondImageDelete')
                        .b-photo__product-image.js-product-image
                            if goods.secondImage!="resources/images/photo-ico.png"
                                img(src=goods.secondImageUrl)
                        input.b-download-mask__input-file-name.js-input-file-name(type='text', disabled='')
                    input#second-file.b-download-mask__real-file-input.js-real-file-input(type='file', name='secondImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
                .b-photo.js-photo
                    .b-photo__download-mask.js-download-mask
                        .b-photo__image-default.js-default-image
                            img(src=src="resources/images/photo-ico.png", width="42", height="42")
                        .b-delete-photo.js-backet
                            input.b-delete-photo__input-delete.js-input-delete(type='radio', name='thirdImageDelete')
                        .b-photo__product-image.js-product-image
                            if goods.thirdImage!="resources/images/photo-ico.png"
                                img(src=goods.thirdImageUrl)
                        input.b-download-mask__input-file-name.js-input-file-name(type='text', disabled='')
                    input#third-file.b-download-mask__real-file-input.js-real-file-input(type='file',  name='thirdImage', title='', accept="image/jpeg,image/png,image/jpg,image/bmp")
        input.b-button--default.b-button--blue(type='submit', value="#{buttonText}")