doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:text-align='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Approve or reject request
  body(yahoo='', bgcolor='white', style='margin: 0; padding: 0; min-width: 100%!important;')
    table.content(align='center', cellpadding='0', cellspacing='0', border='0', style='width: 600px; max-width: 600px;')
      tr
        td
          table(width='192', height='70', align='left', border='0', cellpadding='0', cellspacing='0')
            tr
              td(width='192', style='padding: 10px 0 10px 10px')
                img(src='http://s014.radikal.ru/i326/1507/dd/0931dbf5a686.png', width='192', height='51', border='0', alt='')
            table(width='383', align='left', cellpadding='0', cellspacing='0', border='0')
              tr
                td
                  table.col383(align='right', border='0', cellpadding='0', cellspacing='0', style='width: 100%; max-width: 383px;')
                    tr
                      td
            tr
              td
                table(bgcolor='white', style='padding: 10px 10px 10px 0', width='375', align='left', height='150', border='0', cellpadding='0', cellspacing='0')
                  tr
                    td(style='box-shadow: 0 3px 5px rgb(220,220,220);', bgcolor='#019199')
                      p(style='color: white; font-size: 1.5em; padding: 0 0 0 0', align='left')
                        | ВАШИМ ОБЪЯВЛЕНИЕМ ЗАИНТЕРЕСОВАЛИСЬ
                      p(style='color: white; font-size: 1em; padding: 0 0 0 0', align='left')
                        | Пользователь #{renting.firstName} намерен взять в аренду #{goods.title}
                table(width='175', align='left', cellpadding='0', cellspacing='0', border='0')
                  tr
                    td
                      table(align='center', border='0', width='200', bgcolor='white', style='padding: 10px 0 10px 0', height='150', cellpadding='0', cellspacing='0')
                        tr
                          td
                            table(align='center', border='0', width='100%', height='65', cellpadding='0', cellspacing='0', style='padding: 0 5px 5px 0')
                              tr
                                a(href='#{confirmLink}', style='text-decoration: none;')
                                  td(style='box-shadow: 0 3px 5px rgb(220,220,220);', bgcolor='#6ccdd3', text-align:='', center;='')
                                    p(style='text-align: center; color: white; font-size: 1.25em; padding: 0 0 0 0;')
                                      | Передал
                            table(align='center', border='0', width='100%', height='65', cellpadding='0', cellspacing='0', style='padding: 5px 5px 0 0')
                              tr
                                a(href='#{cancelLink}', style='text-decoration: none;')
                                  td(style='box-shadow: 0 3px 5px rgb(220,220,220);', bgcolor='#d1d1d1', text-align:='', center;='')
                                    p(style='text-align: center; color: white; font-size: 1.25em; padding: 0 0 0 0;')
                                      | Отклонил
