.b-header
    .b-header__header
        .b-header__content
            a(href="/")
                .b-logo
            if (!isAuth)
                .b-header__login
                    a.header-a-color(href="/login")
                        b
                            p
                                #{jadeMessage.getMessage('template.header.login')}
            else
                .b-header__menu
                    a.header-a-color(href="/logout")
                        b
                            p
                                #{jadeMessage.getMessage('template.header.logout')}
                .b-header__menu
                    a.header-a-color(href="/personal_area")
                        b
                            p
                                #{jadeMessage.getMessage('template.header.personalArea')}
                .b-header__menu
                    a.header-a-color(href="/add")
                        b
                            p
                                #{jadeMessage.getMessage('template.index.makeAD')}
                .b-header__dropdown-menu-ico.js-dropdown-ico
                    h1
                        img(src="resources/images/layout/menu.png", width="25", height="15")
    .b-header__dropdown-menu.js-dropdown-menu
            ul
                li
                    a.header-a-color(href="/add") 
                        p 
                            #{jadeMessage.getMessage('template.index.makeAD')}
                li 
                    a.header-a-color(href="/personal_area")
                        p 
                            #{jadeMessage.getMessage('template.header.personalArea')}
                li
                    a.header-a-color(href="/logout") 
                        p 
                            #{jadeMessage.getMessage('template.header.logout')}

