extends layout.jade
block title
	title Просмотр объявление
block depending
	link(rel="stylesheet", href="resources/vendor/scripts/qb/qb.css", type="text/css")
	link(rel="stylesheet", href="resources/error.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/blocks/content.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/blocks/user-info.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/blocks/ad-details.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/blocks/title.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/pages/see_announcement/see_announcement.css", type="text/css", media="all")
block content
	.b-content-inside
		.base
			.order
				a(href="/profile?user_id=#{user.id}")
					.b-user-info
						.b-user-info_ava
							img(src=user.imageUrl, width="120", height="120")
						.b-user-info_dividing-line
						.b-user-info_name
							p=user.firstName
				.b-ad-details
					.b-ad-details-content
						.b-title_default
							.base
								.order
									.b-ad-details_time
										b
											p
												Час:
												text=Goods.pricePerHour
									.b-ad-details_time
										b
											p
												Сутки:
												text=Goods.pricePerDay
									.b-ad-details_time
										b
											p
												Неделя:
												text=Goods.pricePerWeek
						.b-ad-details_product-title
							p=Goods.title
						.b-ad-details_product-description
							text=Goods.description
						.status-block
							if (Goods.status)
								.status-text
									p
										К аренде готов!
								.status-ico
									img(src="resources/images/status-announcement/ready-ico.png", width="22", height="22")
							else
								.status-text
									p
										Уже арендован.
								.status-ico
									img(src="resources/images/status-announcement/not-ready-ico.png", width="22", height="22")
					.b-photo-set
						.base
							.order
								each image in Goods.imageUrl
									.b-photo-set_photo
										if image=="resources/images/photo-ico.png"
											.b-photo-set_ico
												img(src=image, width="42", height="42")
										else
											a.quickbox(href="#{image}")
												img(src=image)
				if !isAuthor
					.r-side
						.r-inside
							form(role="form", action="/getIt?announcement_id=#{Goods.id}", method="post")
								.white-form
									.green-line.green-line-shadow
										.base
											.order
												.time-to-rent-text
													b
														p.white-color.position-on-green-line
															Время аренды
												.time-to-rent-ico
													img(src="resources/pages/see_announcement/images/calendar-ico.png")
									if !isAuthor
										include mixins/mixin_er.jade
										+err(errors)
									.input-block
										p.green-color.position-on-green-line
											Начало
										.input-box
											input.input-size#from.form-control(type="datetime-local", value="#{date.from}", name="from")
									.input-block
										p.green-color.position-on-green-line
											Завершение
										.input-box
											input.input-size#to.form-control(type="datetime-local", value="#{date.to}", name="to")
								input.button-rent(type='submit', value='Забронировать')
				else
					.r-side
						.r-inside
							a(href="/update?announcement_id=#{Goods.id}")
								input.button-update(type='button', value='Редактировать')
block dynamic-scripts
	//- сторонний плагин нужен для увличенного просмотра фотографий по клику
	script(src="resources/vendor/scripts/qb/js/qb.js")
