extends layout.jade
block title
    title Просмотр объявление
block depending
    link(rel="stylesheet", href="resources/vendor/scripts/qb/qb.css", type="text/css")
    link(rel='stylesheet', type='text/css', href='resources/vendor/scripts/datetimepicker/jquery.datetimepicker.css')
block content
    .b-content
        include mixins/mixin_user_info.jade
        +create-user-info(isAuthor)
        if isAuthor
            .b-detailed-view-announcement--default.b-detailed-view-announcement--owner
                .b-detailed-view-announcement__content--default.b-detailed-view-announcement__content--owner
                    include mixins/mixin_detail_see_announcement.jade
                .b-photo-set
                    each image in Goods.imageUrl
                        .b-photo-set__photo
                            a.quickbox(href="#{image}")
                                img(src=image)
                .b-detailed-view-announcement-update-botton
                    .b-detailed-view-announcement-update-botton__botton
                        input.b-button--default.b-button--blue(type='submit', value='РЕДАКТИРОВАТЬ')
        else
            .b-detailed-view-announcement--default
                .b-detailed-view-announcement__content--default
                    include mixins/mixin_detail_see_announcement.jade
                .b-photo-set
                    each image in Goods.imageUrl
                        .b-photo-set__photo
                            a.quickbox(href="#{image}")
                                img(src=image)
            .b-form-book-product
                form(role="form", action="/getIt?announcement_id=#{Goods.id}", method="post")
                    .b-form-book-product__form
                        .b-title--default.b-title--dark-green
                            .b-title__text
                                b
                                    p
                                        Время аренды
                            .b-title__ico-calendar
                        include mixins/mixin_er.jade
                        +err(errors)
                        .b-form-book-product__content
                            .b-form-book-product__input-title
                                p
                                    Начало
                            input.js-datatime-from.b-input--default#from.form-control(type="text", value="#{date.from}", name="from")
                            .b-form-book-product__input-title
                                p
                                    Завершение
                            input.js-datatime-to.b-input--default#to.form-control(type="text", value="#{date.to}", name="to")
                    input.b-button--default.b-button--green(type='submit', value='ЗАБРОНИРОВАТЬ')
block local-scripts
    script(src="resources/vendor/scripts/qb/js/qb.js")
    script(src='resources/vendor/scripts/datetimepicker/build/jquery.datetimepicker.full.min.js')
    script(src="resources/scripts/data-time.js")  
