extends layout.jade
block title
	title Редактирование профиля
block depending
	link(rel="stylesheet", href="resources/pages/update-profile/update-profile.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/error.css", type="text/css", media="all")
block header
	.header
		.center-of-header
			.base
				.order
					.logo
						a(href="/")
							img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
					.exit
						a.header-a-color(href="/logout")
							b
								p
									ВЫХОД
block content
	.my-content
		.content-inside
			.update-block
				.update-block-header
					.update-block-header-text
						b
							Редактирование профиля
				include mixins/mixin_er.jade
				+err(errors)
				form(role="form", action="/update_profile", method="post")
					include mixins/mixin_er.jade
					+err(errors)
					input.update-block-content-first-text#from.form-control(type="text", value="#{user.firstName}", name="firstName",placeholder="Имя")
					input.update-block-content-another-text#from.form-control(type="text", value="#{user.phone}", name="phone",placeholder="Телефон")
					.update-content-change-url-recomendation
						p
							Рекомендуем использовать квадратную аватарку
					input.update-block-content-another-text#from.form-control(type="text", value="#{user.imageUrl}", name="imageUrl",placeholder="URL изображения")
					.update-content-change-pass
						b
							Смена пароля
					.base
						.order
							input.update-content-pass-block#from.form-control(type="password", value="#{user.pass}", name="pass",placeholder="Текущий пароль")
							input.update-content-new-pass-block#from.form-control(type="password", value="#{user.newPass}", name="newPass",placeholder="Новый пароль")
					input.button-update(type='submit', value='CОХРАНИТЬ')