extends layout.jade
block title
    title Редактирование профиля
block depending
    link(rel="stylesheet", href="resources/blocks/title.css", type="text/css", media="all")
    link(rel="stylesheet", href="resources/blocks/input.css", type="text/css", media="all")
    link(rel="stylesheet", href="resources/blocks/buttons.css", type="text/css", media="all")
    link(rel="stylesheet", href="resources/blocks/form-update-profile.css", type="text/css", media="all")
    link(rel="stylesheet", href="resources/blocks/error.css", type="text/css", media="all")
block content
    form(role="form", action="/update_profile", method="post")
        input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
        .b-update-profile
            .b-update-profile-form
                .b-title--default.b-title--blue.b-title--text-left
                    b
                        p
                            Редактирование профиля
                .b-update-profile-form__content
                    include mixins/mixin_er.jade
                    +err(errors)
                    input.b-input--default#from.form-control(type="text", value="#{user.firstName}", name="firstName",placeholder="Имя")
                    input.b-input--default#from.form-control(type="text", value="#{user.phone}", name="phone",placeholder="Телефон")
                    .b-title--form
                        b
                            p
                                Фото вашего профиля
                    .b-update-profile__user-avatar
                        .base
                            .order
                                .b-update-profile__user-photo
                                    img(src=user.imageUrl)
                                .b-update-profile__url
                                    input.b-input--default#from.form-control(type="text", value="#{user.imageUrl}", name="imageUrl",placeholder="URL изображения")
                    .b-title--form
                        b
                            p
                                Смена пароля
                    .base
                        .order
                            input.b-input--default.b-input--half-size#from.form-control(type="password", value="#{user.pass}", name="pass",placeholder="Текущий пароль")
                            input.b-input--default.b-input--half-size#from.form-control(type="password", value="#{user.newPass}", name="newPass",placeholder="Новый пароль")
            .b-update-profile__button
                input.b-button--default.b-button--blue(type='submit', value='CОХРАНИТЬ')